*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    text-shadow: 2px 2px 3px hsl(227, 19%, 38%);
}

section {
    aspect-ratio: 3840/1920;
    position: relative;
    background-repeat: no-repeat;
    background-position:top center;
    background-size: cover;
    display: block;
}
header {
    color: #fdfdfd;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    font-size: 22px;
}
main {
    color: #ffffff;
    width: 900px;
    text-align: center;
    margin: 0 auto;
    padding: 40px;
    font-size: 35px;
}



.surface {
    background-image: url(surface.png);
}

.subtitulo {
    color: #ffffff;
    width: 900px;
    text-align: center;
    margin: 0 auto;
    padding: 25px;
    font-size: 30px;
}
.fatores_abioticos {
    position: relative;
    top: 150px;
}
.introducao_zonas {
    position: relative;
    top: 350px;
}

.epipelagica {
    background-image: url("zona_epipelagica.png");
}

.epipelagica header {
    position: relative;
    top: 200px;
}

.epipelagica main {
    position: relative;
    top: 200px;
}
.corais {
   position: relative;
    top: 400px;
}

.min_oxigen header {
    position: relative;
    top: 300px;
}

.min_oxigen main {
    position: relative;
    top: 300px;
}

.transicao_ep_meso {
    background-image: url("transicao.png");
}
.mesopelagica {
    background-image: url(zona_mesopelagica.png);
}
.mesopelagica header {
    position: relative;
    top: 200px;
}
.mesopelagica main {
     position: relative;
    top: 200px;
}
.transicao_bati {
    background-image: url(transicao_bati.png);
}
.batipelagica {
    background-image: url(zona_batipelagica.png);
}
.batipelagica header {
    position: relative;
    top: 200px;
}
.batipelagica main {
    position: relative;
    top: 200px;
}
.fauna_abissal {
     position:absolute;
    top: 400px;
}
.transicao_abissal {
    background-image: url(transicao_abissal.png);
}
.abissal {
    background-image: url(zona_abissal.png);
}
.abissal header {
    position: relative;
    top: 200px;
}
.abissal main {
    position: relative;
    top: 250px;
}
.transicao_hadal {
    background-color: black;
}
.hadal {
    background-image: url(zona_hadal.png);
}
.hadal header {
      position: relative;
    top: 200px;
}
.hadal main {
     position: relative;
    top: 250px;
}
.final {
    background-color: #373e42;
}
.referencias {
    background-color: #373e42;
}
.ancora {
    position: absolute;
    top:1250px;
    left:800px;
    width: 100px;
    height: 100px;
}
.diabo_negro {
    position: absolute;
    top: 100px;
    left: 1500px;
    filter: saturate(30%) blur(1px);
}
.sifonoforo {
    position: relative;
    size-adjust: 1%;
}
.polvo_dumbo {
    position: absolute;
    top:900px;
    size:10%;
    filter:saturate(30%) blur(2px);
}