*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}



body {
    text-shadow: 2px 2px 3px hsl(227, 19%, 38%);

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

section {
    width: 3840px;
    height: 1920px;
    position: relative;
    background-repeat: no-repeat;
    background-position:top center;
    display: block;
}
header {
    color: #fdfdfd;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    font-size: 22px;
}
main {
    color: #ffffff;
    width: 900px;
    text-align: center;
    margin: 0 auto;
    padding: 40px;
    font-size: 35px;
}

.ancora_sumario {
    position: fixed;
    top: -5px;
    left: 1600px;
    z-index: 1000;
}

.ancora_botao {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.ancora_botao img {
    width: 250px;
    height: auto;
}

#sumario {
    display: none;
    margin-top: 10px;
    padding: 20px;
    background: #1a3853;
    width: 220px;
}

#sumario a {
    display: block;
    color: white;
    padding: 10px;
}

.epipelagica1 {
    background-image: url("backgrounds/zona_ep.png");
}

.epipelagica header {
    position: relative;
    top: 200px;
}

.epipelagica main {
    position: relative;
    top: 200px;
}
.corais {
   position: relative;
    top: 400px;
}

.min_oxigen header {
    position: relative;
    top: 300px;
}

.min_oxigen main {
    position: relative;
    top: 300px;
}

.epipelagica2 {
    background-color: #249BFC;
}
.epipelagica3 {
    background-image: linear-gradient(#249BFC,#0164B6)
}
.mesopelagica1 {
    background-color: #0064B6;
}
.mesopelagica header {
    position: relative;
    top: 200px;
}
.mesopelagica main {
     position: relative;
    top: 200px;
}
.mesopelagica2 {
    background-image: linear-gradient(#0064B6,#023859);
}
.mesopelagica3 {
    background-image: linear-gradient(#023859,#000000);
}

.batipelagica {
    background-color: #000000;
    height: 5760px;
}
.batipelagica header {
    position: relative;
    top: 200px;
}
.batipelagica main {
    position: relative;
    top: 200px;
}
.fauna_abissal {
     position:absolute;
    top: 400px;
}
.abissal1 {
    background-image: url(backgrounds/zona_abissal.png);
}
.abissal header {
    position: relative;
    top: 200px;
}
.abissal main {
    position: relative;
    top: 250px;
}
.abissal2 {
    background-color: black;
    height: 3840px;
}
.hadal {
    background-image: url(backgrounds/zona_hadal.png);
}
.hadal header {
      position: relative;
    top: 200px;
}
.hadal main {
     position: relative;
    top: 250px;
}
.final {
    background-color: #172226;
    height:auto;
}
.referencias {
    background-color: #172226;
    height: auto;
}
.diabo_negro {
    position: absolute;
    top: 4000px;
    left: 3200px;
    filter: saturate(30%) blur(1px);
}
.sifonoforo {
    position: absolute;
    left:800px;
    size-adjust: 1%;
}
.polvo_dumbo {
    position: absolute;
    top:900px;
    size:10%;
    filter:saturate(30%) blur(2px);
}
.cachalote_lula {
    position: absolute;
    top:2000px;
    left:1220px;
}
.peixe_palhaco {
    position: absolute;
    top: 600px;
    left: 300px;
}